---
import RootLayout from "@/layouts/Root.astro";
---

<RootLayout
    title="About Me - Pablo Reyes Moctezuma"
    description="Learn more about me, my journey, and how I have combined data and technology to create impactful solutions."
    type="website"
    path="/"
>
    <h1>About Me</h1>
    <p>
        Hi, my name is Pablo Reyes Moctezuma. Born in 1996 and based in Mexico City, I currently serve as CTO at
        DataInt, where I lead the development of data-driven solutions that help businesses assess security risks and
        uncover high-impact events in Mexico.
    </p>
    <p>
        I studied Politics and Public Administration at El Colegio de México, where I also worked as a Research and
        Teaching Assistant for Prof. Javier Márquez, teaching R programming to BA and PhD students.
    </p>
    <p>
        As an Independent Data Consultant, I’ve worked with International Organizations, NGOs, and private entities to
        create data-based solutions that drive informed decision-making. Highlights include:
    </p>
    <ul>
        <li>
            Optimizing Fundraising for an NGO: By analyzing CRM data and identifying patterns in donor survival rates
            and payment rejections, I helped improve their efficiency and reduce losses.
        </li>
        <li>
            Strategic Evaluation for UNDP Nigeria: I assessed their data capabilities and recommended a digital strategy
            to advance their 2030 Development Goals.
        </li>
    </ul>
    <p>Outside of work, you can find me boxing, riding my bike or indulging my passion for movies.</p>
    <p>
        Through my work and interests, I aim to bridge the gap between technology, data, and public policy, creating
        innovative solutions that drive meaningful impact.
    </p>
    <hr />
    <p>You can find me on</p>
    <ul class="social">
        <li>
            <a href="https://x.com/p_reyes_m">𝕏</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/pablo-reyes-m">LinkedIn</a>
        </li>
        <li>
            <a href="https://bsky.app/profile/p-reyes.bsky.social">Bluesky</a>
        </li>
    </ul>
    <p>
        Or mail me at <a href="mailto:info@pabloreyes.com.mx">info@pabloreyes.com.mx</a>
    </p>
</RootLayout>
<style>
    ul.social {
        display: flex;
        list-style: none;
        padding: 0;
    }

    ul.social li {
        margin-right: 1rem;
    }
</style>
