---
import RootLayout from "@/layouts/Root.astro";
---

<RootLayout
    title="Home"
    description="This is the home page"
    type="website"
    path="/"
>
    <h1>Hello, Astro!</h1>
    <p>Welcome to Astro.</p>
    <p>This is a <a href="#">link</a></p>
</RootLayout>
