---
interface Props {
    title: string;
    description: string;
    date: Date;
}

const { title, description, date } = Astro.props;

const istoDateString = date.toISOString();
const formattedDate = date.toLocaleDateString("es-MX", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    timeZone: "UTC",
});
---

<article>
    <time datetime={istoDateString}>{formattedDate}</time>
    <div>
        <h1>
            {title}
        </h1>
        <p>
            {description}
        </p>
    </div>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        margin-bottom: 2rem;
    }

    article div {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
    }

    time {
        color: var(--color-text-muted);
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    p {
        margin: 0;
    }
</style>
