---

---
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>

<style>
    ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    li {
        margin-right: 1rem;
    }
</style>